@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/YekanBakh-Heavy.630c4fa4.woff') format('woff');
}
@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/YekanBakh-Fat.e508fcc6.woff') format('woff');
}
@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/YekanBakh-Bold.bbd877a3.woff') format('woff');
}
@font-face {
    font-family: yekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/YekanBakh-Medium.f7360956.woff') format('woff');
}

.fw_800{
    font-weight: 800;
}

.fw_600{
    font-weight: 600;
}
